@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:cursor-pointer dark:;
  }
  .avatarVideoCard {
    @apply inline-block w-12 h-12 duration-1000 ease-in-out border-4 border-transparent rounded-full dark:hover:border-dark-navHover hover:border-white hover:shadow-md;
  }
}

:root {
  --bgPrimary: ##e2e8f0;
  --textPrimary: #0f172a;
}
.dark {
  --bgPrimary: #222831;
  --textPrimary: #e2e8f0;
}
html {
  color: var(--textPrimary);
  background-color: var(--bgPrimary);
  transition: background-color 0.35s ease;
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.noScrollbar::-webkit-scrollbar {
  display: none;
}
.noScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
